<!DOCTYPE html>
<html>
  <head>
    <title>The Gossip Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'https://unpkg.com/bulmaswatch/cosmo/bulmaswatch.min.css' %>
  </head>

  <body>
    <nav class="navbar is-danger" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <strong>THE GOSSIP PROJECT</strong>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="https://rubyonrails.org/" target="_blank">
        Ruby on Rails
      </a>

      <a class="navbar-item" href="https://bulma.io/" target="_blank">
        Bulma
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-danger is-rounded is-inverted" href="<%= new_gossip_path %>">
            Nouveau Potin
          </a>

          <% if (session[:user_id])%>
            <a class="button is-dark is-rounded is-inverted" href="<%= root_path %>">
              Déconnexion
            </a>
            <%= link_to "Se déconnecter", user_session_path(session.id), method: :delete %>
          <%else%>
            <a class="button is-dark is-rounded is-outlined is-inverted" href="<%= new_user_path %>">
              Inscription
            </a>
            <a class="button is-dark is-rounded is-outlined is-inverted" href="<%= root_path %>">
              Connexion
            </a> 
          <%end%>

          
        </div>
      </div>
    </div>
  </div>
</nav>  
    <%= yield %>
  </body>
</html>
