<!DOCTYPE html>
<html>
  <head>
    <title>Evenementialy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'https://unpkg.com/bulmaswatch/cosmo/bulmaswatch.min.css' %>

  </head>

<body>
    <nav class="navbar is-danger" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <strong>EVENEMENTIALY</strong>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Ruby on Rails", 'https://rubyonrails.org/', target: "_blank", class: "navbar-item" %>
      <%= link_to "Bulma", 'https://bulma.io/', target: "_blank", class: "navbar-item" %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <a class="navbar-item">
              <%= current_user.email %>
            </a>
          <%end%>

          <%= link_to "Nouvel évènement", new_event_path, class: "button is-danger is-rounded is-outlined is-inverted" %>
          
          <% if user_signed_in? %>
            <%= link_to "Paramètres", user_path(current_user.id), class: "button is-dark is-rounded is-inverted" %>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, data: { confirm: 'Veux-tu vraiment nous quitter ?' }, class: "button is-dark is-rounded is-inverted" %>
          <%else%>
            <%= link_to "Inscription", new_user_registration_path, class: "button is-dark is-rounded is-inverted" %>
            <%= link_to "Connexion", new_user_session_path, class: "button is-dark is-rounded is-inverted" %>
          <%end%>        
        </div>
      </div>
    </div>
  </div>
</nav>

    <%= yield %>

  </body>
</html>
